
  .quiz {
    width:100%;
    text-align:center;
    margin: 0 auto;
    position: relative;
  }

  .quiz h1{
    font-family: 'Futura', sans-serif;
  }

  .quiz-text{
    font-family:'Arial', serif;
    font-weight:400;
    max-width:66%;
    margin:0 auto;
    line-height: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .quiz-question {
    font-family: 'Futura', sans-serif;
    color: #101010;
    font-weight: 700;
    font-size: 20px;
    margin-top: 70px;
  }

  .quiz-answers {
    position: relative;
    padding-top:20px;
  }

  .quiz-answer-label {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 3fr;
    gap: 130px 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    top: 34%;
    z-index: 1;
  }

  .quiz-small-text{
    color: rgba(16, 16, 16, 0.5);
    width: 110px;
    text-align: center;
    z-index:1;
    line-height: 1.1;
  }

  #step1 .quiz-small-text {
    padding-top:5px;
  }

  .image-labels{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 3fr;
    gap: 30px 50px;
    justify-content: center;
  }

  .image-label{
    z-index: 2;
    cursor:pointer;
  }

  .label__no-image {
    background: rgba(216, 54, 150, 0.2);
    height: 40px;
    width: 100%;
    max-width: 188px;
    border-radius: 5px;
    color:#101010;
    text-transform: uppercase;
  }

  .quiz-answers_no-image {
    padding-top:20px;
  }

  .quiz-answer-label.label-no-image{
    margin-top:20px;
    padding-top:5px;
  }

  .quiz-answer-label__no-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap:20px;
    justify-content: center;
    padding-top: 10px;
    height: auto;
  }


  .step {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: "slide-in-right";
    animation-duration: 0.5s;
  }

  #intro{
    margin-top: 30%;
  }

  .quiz-buttons {
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    margin-top: 50px;  
  }

  .pink-btn,
  .white-btn {
    max-width:188px;
    width: 100%;
    height:47px;
    border-radius: 5px;
    padding: 18px 20px 18px 20px;
    margin-top: 10px;
    margin-bottom:10px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0;
  }

  .pink-btn {
    background-color: #D83696;
    color: #FFFFFF;
  }

  .white-btn {
    background-color: #FFFFFF;
    color: #D83696;
  }

  .quiz-restart {
    color: #D83696;
    cursor: pointer;
  }

  .quiz-result {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top:20px;
  }

  .result-card {
    max-width: 250px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .result-image {
    background-color: white;
    width: 100%;
  }

  .result-image img {
    margin: 0 auto;
  }

  .result-detail {
    font-size: 12px;
    color: #101010;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
  }

  .result-cart-btn {
    width:100%;
  }


  .checkbox-input{
    visibility: hidden;
    margin-left:auto;
    margin-right: auto;
  }

  .selected-image{
    border: 3px solid #D83696;
    border-radius: 50%;
  }

  .selected-text{
    color: rgba(16, 16, 16, 0.5);
    font-weight: 700;
  }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.step.active {
  display: block;
}

.progress-indicator {
  display: none; /* Initially hide progress indicator */
  justify-content: center;
  margin-bottom: 20px;
}

.pill {
  width: 85px;
  height: 6px;
  border-radius: 19px;
  background-color: rgba(227, 59, 159, 0.2); 
  margin: 0 5px;
}

.pill.active {
  background-color: #D83696; 
}

.pill.pill-hide{
  background-color: transparent;
  width: 1px;
}

@media screen and (min-width:640px) {

  .quiz-labels {
    display: grid; 
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-rows: 1fr;
    gap: 50px;
    justify-content: center;
    padding-top:10px;
    height: 120px;
  }

  .quiz-result {
    flex-direction: row;
  }

  .quiz-answer-label{
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-template-rows: 1fr;
    gap: 0 10px;
  }

  .image-labels{
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-template-rows: 1fr;
    gap: 0 10px;
  }
  
}

@media all and (min-width:641px) and (max-width: 768px){

  .quiz-answer-label{
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-template-rows: 2fr;
    gap: 110px 5px;
    top: 50%;
  }

  .quiz-small-text{
    width: 100px;
    line-height: 1.1;
  }

  .image-labels {
    gap: 20px;
    grid-template-rows: 2fr;
  }

  .image-label {
    width: 85px;;
  }

 

} 